<div style="text-align: center">
    <h3>Вы действительно хотите удалить ваш комментарий?</h3>
    @using (Html.BeginForm("DeleteComment", "Crud", FormMethod.Post, new
    { enctype = "multipart/form-data" }))
    {
        <input style="width: 200px; font-size: 1.2em; height: 65px; text-align: center;" type="submit" value="удалить" />
    }
</div>
