@{
    Layout = null;
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("DeleteAccount", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Вы точно уверены что хотите удалить свой аккаунт?</h4>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Подтвердить" class="btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>